{{!-- header => includes/header.hbs --}}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="/">옵치하기</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <form action="#" class="search-location-tap" style="display: none">
                <div class="row justify-content-center">
                    <div class="col-lg-10 align-items-end">
                        <div class="form-group-tap">
                            <div class="form-field">
                                <input type="text" id="playerName-tap" class="form-control" placeholder="'플레이어명' 혹은 '배틀태그#0000'">
                                <button type="button" id="btn-search-tap"><span class="ion-ios-search"></span></button>  <!---->
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="/" class="nav-link">검색하기</a></li>  <!--home-->
                <li class="nav-item"><a href="/about.html" class="nav-link">즐겨찾기</a></li>  <!--favorite-->
                <li class="nav-item"><a href="/agent.html" class="nav-link">듀오찾기</a></li>   <!--leaderBoard-->
                <li class="nav-item"><a href="/services.html" class="nav-link">랭커보기</a></li>   <!--scream-->
                <li class="nav-item"><a href="/properties.html" class="nav-link">소식보기</a></li>   <!--news-->
<!--                <li class="nav-item"><a href="/blog.html" class="nav-link">Blog</a></li>   &lt;!&ndash;home&ndash;&gt;-->
<!--                <li class="nav-item"><a href="/contact.html" class="nav-link">Contact</a></li> &lt;!&ndash;home&ndash;&gt;-->
            </ul>
        </div>
    </div>
</nav>
<!-- END nav -->
